#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main-container>section {
    width: 30%;
}

#list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#list-container>section {
    width: 30%;
}

